

iframe {
  
  border-radius: 90px;
}

/* Make the Spotify Results Fall Into the Same Row */
.col {
  display: inline-block !important;
}

/* Position Results Below Search Bar */
#song-list {
  position: absolute;
  top: 20%; left: 25%;
}
.look-find {
  position: absolute;
  top: 10%; left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 40px;
  padding: 10px;
}
.look-find:hover > .look-txt
{
  width: 240px;
  padding: 0 6px;
}
.look-find:hover > .look-btn {
  background: white;
  color: black;
}
.look-btn {

  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: #1DB954;
  cursor: pointer;
}
.look-btn > i
{
  font-size: 18px;
}
.look-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #333;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  font-weight: bold;
}
.btn-primary{
    background: #fff;
    color: #CB356B;
    border: none;
}
